% rebase('base.html', naslov='Aktivne rezervacije')

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/aktivne-rezervacije">Aktivne rezervacije<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rezervacije">Vse rezervacije</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/racuni">Arhiv računov</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Drugo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/uporabniki">Pregled uporabnikov</a>
          <a class="dropdown-item" href="/parcele">Pregled parcel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      %if str(uporabnik) == 'receptor':
      <li class="nav-item">
        <a class="nav-link" href="/receptorji">Receptorji <span class="sr-only">(current)</span></a>
      </li>
      %else:
      <li class="nav-item">
        <a class="nav-link disabled" href="/receptorji">Receptorji</a>
      </li>
      %end
    </ul>
    <ul class="navbar-nav mr-auto d-flex justify-content-end">
      <li class="nav-item dropdown d-flex justify-content-end active">
        <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{uporabnik}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <form class="form-inline my-2 my-lg-0" action="{{url('odjava')}}" method="get">
            <button class="dropdown-item float-right" type="submit">Odjava</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>

<table class="table table-striped">
  <tr>
    <th>ID rezervacije</th>
    <th>Pričetek bivanja</th>
    <th>Število nočitev</th>
    <th>Število odraslih</th>
    <th>Število otrok</th>
    <th>Rezervirana parcela</th>
    <th>ID gosta</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th></th>

  </tr>
  %for id, pricetek_bivanja, st_nocitev, odrasli, otroci, rezervirana_parcela, gost, ime, priimek in rezervacija:
  <tr>
    <td>{{id}}</td>
    <td>{{pricetek_bivanja}}</td>
    <td>{{st_nocitev}}</td>
    <td>{{odrasli}}</td>
    <td>{{otroci}}</td>
    <td>{{rezervirana_parcela}}</td>
    <td>{{gost}}</td>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    %if id in poravnani:
    <td class="dropdown">
      <button class="btn btn-secondary btn-outline-dark disabled dropdown-toggle" type="button">
        Poravnan
      </button>
    </td>
    %else:
    <td class="dropdown">
      <button class="btn btn-secondary btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Možnosti
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form method="POST" action="/urejanje/">
          <button class="dropdown-item" type="submit" name="id_rez" value={{id}}>Uredi</button>
        </form>
        <form method="POST" action="/rezervacija/predracun/">
          <button class="dropdown-item" type="submit" name="id_rez" value={{id}}>Predračun</button>
        </form>
        <form method="POST" action="/rezervacija/racun/">
          <button class="dropdown-item" type="submit" name="id_rez" value={{id}}>Izstavi račun</button>
        </form>
        <form method="POST" action="/zbrisi-rezervacijo">
          <button class="dropdown-item" type="submit" name="id_rezervacije" value={{id}}>Zbriši</button>
        </form>

      </div>
    </td>
    %end
  </tr>
  %end
</table>