% rebase('base.html', naslov='Tukaj si lahko ogledaš rezervacije')



<form action="{{url('odjava')}}" method="get">
  <td><button class="btn btn-light btn-outline-dark float-right" type="submit">Odjava</button></td>
</form>
<span class="badge text-bg-primary float-right">{{uporabnik}}</span>
<span class="badge text-bg-primary float-right">{{rola}}</span>

<table class="table table-striped">
    <tr>
      <th>Pričetek bivanja</th>
      <th>Število nočitev</th>
      <th>Število odraslih</th>
      <th>Število otrok</th>
      <th>Uporabniško ime</th>
      <th>Okvirna cena</th>
      <th></th>

    </tr>
    %for pricetek_bivanja, st_nocitev, odrasli, otroci, uporabnisko_ime, id in rezervacija:
    <tr>
      <td>{{pricetek_bivanja}}</td>
      <td>{{st_nocitev}}</td>
      <td>{{odrasli}}</td>
      <td>{{otroci}}</td>
      <td>{{uporabnisko_ime}}</td>
      <td>{{(odrasli*12 + otroci*7)*st_nocitev}} &euro;</td>
      <td>
        <form method = "POST" action="/zbrisi-rezervacijo">
          <button class="btn btn-light btn-outline-dark" type="submit" name = "id_rezervacije" value = {{id}}>Zbriši</button>
        </form>
      </td>
    %end
</tr>
</table>
<form action="{{url('gost_rezervacija_get')}}" method="get">
    <td><button class="btn btn-light btn-outline-dark" type="submit">Ustvari novo rezervacijo</button></td>
</form> 
