% rebase('base.html', naslov='Prijava')

<div style="position:fixed; top:480px">
    <form action="{{url('prijava_get')}}" method="GET">
        <button class="btn btn-outline-danger" type="submit">Registracija za nove goste</button>
    </form> 
</div>

<div style="position:fixed; top:525px">
    <form action="{{url('prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Prijavi se kot gost</button>
    </form>
</div>

<div style="position:fixed; top:570px">
    <form action="{{url('prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Prijavi se kot receptor</button>
    </form>
</div>