% setdefault('napaka', sporocilo())
% rebase('base.html', naslov='Prijava', napaka=napaka)

<div style="position:fixed; top:480px">
    <form action="{{url('izbira_lokacije')}}" method="GET">
        <button class="btn btn-outline-danger" type="submit">Registracija za nove goste</button>
    </form> 
</div>

<div style="position:fixed; top:525px">
    <form action="{{url('rezervacija_prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Prijavi se kot gost</button>
    </form>
</div>

<div style="position:fixed; top:570px">
    <form action="{{url('prijava_get')}}" method="GET">
        <button class="btn btn-outline-dark" type="submit">Prijavi se kot receptor</button>
    </form>
</div>