% rebase('base.html', naslov='Receptorji')

    <table class="table table-striped">
      <tr>
        <th>EMŠO</th>
        <th>Ime</th>
        <th>Priimek</th>
      </tr>
      %for emso, ime, priimek in receptorji:
      <tr>
        <td>{{emso}}</td>
        <td>{{ime}}</td>
        <td>{{priimek}}</td>
      </tr>
      %end
    </table>

    <form action="{{url('dodaj_receptorja_get')}}" method="get">
      <td><button class="btn btn-light btn-outline-dark" type="submit">Dodaj receptorja</button></td>
  </form> 

  <form action="{{url('rezervacije_get')}}" method="get">
    <td><button class="btn btn-light btn-outline-dark" type="submit">Pregled rezervacij</button></td>
</form> 

