% rebase('base.html', naslov='Rezervacije')



<form action="{{url('odjava')}}" method="get">
  <td><button class="btn btn-light btn-outline-dark float-right" type="submit">Odjava</button></td>
</form>
<span class="badge text-bg-primary float-right">{{uporabnik}}</span>
<span class="badge text-bg-primary float-right">{{rola}}</span>

%if str(uporabnik) == 'receptor':
  <a class="btn btn-light btn-outline-dark float-right" href="/receptorji">Vsi receptorji</a>

%end
    <table class="table table-striped">
      <tr>
        <th>ID rezervacije</th>
        <th>Pričetek bivanja</th>
        <th>Število nočitev</th>
        <th>Število odraslih</th>
        <th>Število otrok</th>
        <th>Rezervirana parcela</th>
        <th>ID gosta</th>
        <th>Ime</th>
        <th>Priimek</th>
        <th></th>

      </tr>
      %for id, pricetek_bivanja, st_nocitev, odrasli, otroci, rezervirana_parcela, gost, ime, priimek in rezervacija:
      <tr>
        <td>{{id}}</td>
        <td>{{pricetek_bivanja}}</td>
        <td>{{st_nocitev}}</td>
        <td>{{odrasli}}</td>
        <td>{{otroci}}</td>
        <td>{{rezervirana_parcela}}</td>
        <td>{{gost}}</td>        
        <td>{{ime}}</td>
        <td>{{priimek}}</td>
        <th class="dropdown">
        <button class="btn btn-secondary btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Možnosti
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Uredi</a>
            <form method = "POST" action="/rezervacija/predracun/">
              <button class="dropdown-item" type="submit" name = "id_rez" value = {{id}}>Predračun</button>
            </form>
            <!-- <a class="dropdown-item" href="#">Predračun</a> -->
            <form method = "POST" action="/rezervacija/racun/">
              <button class="dropdown-item" type="submit" name = "id_rez" value = {{id}}>Izstavi račun</button>
            </form>
            <form method = "POST" action="/zbrisi-rezervacijo">
              <button class="dropdown-item" type="submit" name = "id_rezervacije" value = {{id}}>Zbriši</button>
            </form>
            
          </div>
        </th>
      </tr>
      %end
    </table>